<li>
	{{burgername}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}BURGER TIME!{{else}}DEVOURED! REORDER ANOTHER?{{/if}}
	</button>

	{{!-- <button class="delete-burgers" data-id="{{this.id}}">DELETE!</button> --}}
</li>
